@charset "utf-8";

html{
    height:100%;
    width:100%;
}

header{
	height: 10%;
}

.search-btn{
	text-decoration:none !important;
	border-radius: 30px;
	padding: 7px 20px;
	color: #fff !important;
	background: rgba(253,10,105,1.00);
	font-weight: 600;
}

.header-btn{
	text-decoration:none !important;
	border-radius: 30px;
	padding: 7px 20px;
	float: right;
	margin-top:15px;
	color: #fff !important;
	background: rgba(253,10,105,1.00);
	font-weight: 600;
}

body{
	background-image: linear-gradient(rgba(25,0,0,10), rgba(0,0,0,10));
}

.image-col{
	color: red;
}

.left-box{
	padding-top: 10px;
}

.left-box a{
	text-decoration:none !important;
	border-radius: 30px;
	padding: 7px 10px;
	color: #fff !important;
	background: #107afd;
	font-weight: 600;
	display:inline-block;
	margin-right: 10px;
}

.resultIndex{
	color: white;
	position: absolute;
	padding-right: 70px;
	bottom: 0;
	right: 0;
}

.in-stock{
	background: rgba(21, 112, 34,1.00) !important;
}

.out-stock{
	background: red !important;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  top: 0; /* Stay at the top */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
	width: 250px;
	background-image: linear-gradient(rgba(45,0,0,10), rgba(0,0,0,10));
}

.sidenav-left{
  left: 0;
	z-index: 1; /* Stay on top */
}

.sidenav-right{
  right: 0;
	border-left-style: solid;
	z-index: 1;
}

.sidenav-right a{
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	display: block;
}

.main{

}

.in{
  opacity: 1;
}

.slider-track {
	background: #BABABA;
}

#resultTemplate{
	display: none;
}

.main-row{
	background-image: linear-gradient(rgba(25,0,0,10), rgba(0,0,0,10));
}

.main-row:hover{
	background-image: linear-gradient(rgba(45,0,0,10), rgba(0,0,0,10));
}

div div div img{
	width:60%;
}

.title{
	color: rgb(225, 225, 225);
	padding-top: 8px;
	margin-bottom: .25rem;
}

div i{
	font-size:18px;
}

.sub-row{
	display: block;
	position: absolute;
	left:30px;
}

.info, .resultIndex{
	color:rgb(148, 148, 148);
}

#numResults{
	color: white;
	text-align: center;
}

.checked {
  color: orange;
}
